{% extends 'base_aventure.html.twig' %}

{% block sstitle %}Vos quêtes en cours{% endblock %}

{% block content %}
    <style>
        body {
            background-image: url(/img/book.png);
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% if perso.quests|length > 0 %}
                    <div class="accordion" id="accordionExample">
                        {% for quest in perso.quests %}
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    {{ quest.name }}
                                </button>
                                </h2>
                                <div id="collapseOne" class="bg-dark accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        {% for step in quest.questSteps %}
                                            <p>{{ step.description | raw }}</p>
                                        {% endfor %}
                                        <p>
                                            <a 
                                                href="{{ path('app_place_show', {place_id: quest.place.id}) }}"
                                                class="btn btn-success"
                                            >Reprendre la quête</a>

                                            <a href="{{ path('app_quest_decline', {quest_id: quest.id }) }}" class="btn btn-danger">Abandoner</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="alert alert-info">Vous n'avez pas de quêtes en cours</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
