<div class="container">
    <div class="row">
        <div class="col">
            {% for pnj in place.pnjs %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ pnj.name }}</h5>
                        {% for quest in pnj.quests %}
                            <div 
                                hx-trigger="click" 
                                hx-get="{{ path('app_partiel_aventure_city_pnj_dialog', {city_id: city.id, pnj_id: pnj.id, quest_id: quest.id}) }}"
                                class="btn btn-primary"
                                hx-target="#dialog"
                            >{{ quest.name }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            <a 
                hx-trigger="click" 
                hx-get="{{ path('app_partiel_city_show', {city_id: city.id}) }}"
                class="btn btn-secondary" 
                aria-current="page"
            >Sortir</a>
        </div>
        <div class="col">
        </div>
    </div>
</div>