<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Oyé Oyé ! Approchez vous que je vous présente cette belle ville !</h5>
                    <p>{{ city.description|raw }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-between">
        {% for place in places %}
            {% if place.city != null %}
                <div class="col col-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ place.name }}</h5>
                            <div
                                hx-trigger="click" 
                                hx-get="{{ path('app_partiel_city_place', {city_id: city.id, place_id: place.id}) }}"
                                class="btn btn-success"
                            >Entrer</div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

