.box {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 1rem;
    display: flex;
    background-color: rgba(0,0,0, 0.75);
    color: $light;

    .box-image {
        width: 15%;
    }

    .box-body {
        margin-left: 2%;
        width: 83%;

        .title {
            display: flex;
            justify-content: space-between;
        }
    }
}