@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');

@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import 'params';
@import 'utils';
@import 'box';
@import 'auth';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero {
    height: 100vh;
    background: url('/public/img/banniere.png');
    background-size: cover;
    background-position: top center;

    h1 {
        padding-top: 10%;
        text-align: center;
        font-size: 8rem;
        font-weight: 400;
    }
}

h1 {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    color: $light;
    font-family: 'Passions Conflict', cursive;
}

.top {
    padding-top: 70px;
    background-color: rgba(0,0,0, 0.75);
    color: $light;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.title {
    h2 {
        font-family: 'Passions Conflict', cursive;
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        padding: 1rem 0;
    }
}

.card {
    background: none;
    color: $light;
}

.breadcrumb-item {
    a {
        color: $light;
    }
}

.table {
    color: $light;
}

.accordion, .accordion-item {
    background: none;
    color: $light;
}

.accordion-header, .accordion-button, .accordion-button:not(.collapsed) {
    background: black;
    color: $light;
}