{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}
    <div class="top">
        <div class="container">
            <div class="d-flex justify-content-between">
                <h1>Carte du monde</h1>
            </div>
        </div>
    </div>
    
    <div class="container{% if perso %}-fluid{% endif %}">
        <div class="row">
            {% if perso %}
                <div class="col-2">
                    {{ include('shared/_perso.html.twig') }}
                </div>
            {% endif %}
            <div class="col">
                {% for item in perso.items %}
                    <div class="cart">
                        <div class="cart-body">
                            <h5 class="body-title">{{ item.name }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
