{% extends 'base.html.twig' %}

{% block title %}Histoire et aventure{% endblock %}

{% block body %}
    <div class="top">
        <div class="container">
            <div class="d-flex justify-content-between">
                <h1>A l'aventure avec {{ perso.name }}</h1>
                <div>
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    
    <div id="aventure" hx-get="{{ path('app_partiel_aventure_start') }}" hx-trigger="load" hx-target="#aventure"></div>
{% endblock %}
