{% extends 'base.html.twig' %}

{% block title %}Histoire et aventure{% endblock %}

{% block body %}
    <div 
        id="aventure" 
        hx-get="{{ path(url) }}" 
        hx-trigger="load" 
        hx-target="#aventure"
    ></div>
{% endblock %}