{% extends 'base_aventure.html.twig' %}

{% block sstitle %}A l'aventure avec {{ perso.name }}{% endblock %}

{% block content %}
    <div class="background" style="
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100vw;
        height: 100vh;
        background-image: url(/img/start.png);
        background-position: center center;
        background-size: cover;">
    </div>

    <div class="box">
        <div class="row">
            <div class="col col-2">
                <img class="img-fluid" src="/img/perry_homes.png" alt="Perry Homes">
            </div>
            <div class="col text-justify">
                <p>Vous arrivez devant l'auberge du Poney Fringuant. C'est une petite auberge des bas fond de la capitale. C'est là que vous donnait rendez vous cette mystérieuse inconnue.</p>
                <p>- Merci aventurier de m'avoir rejointe !</p>
                <p>- Votre mot m'a intrigué ! Dites m'en plus ou je m'envais !</p>
                <p>- Tu n'es pas sans savoir que nous vivons des heures sombres ! L'empereur Lukarn est en de plus en plus vieux. L'empire ne tient plus qu'a un fils !</p>
                <p>- bien sûr ! J'ai a peine de quoi subsiter !</p>
                <p>- Je ne suis qu'un simple domestique, mais j'ai entendu dire que des choses affreuses se passait à la frontière dans la ville de Zukaramundi.</p>
                <p>&nbsp;&nbsp;Je sais que tu as toujours voulu devenir un héro, c'est ta chance, où devrais-je dire, ton epreuve !</p>
                <p>- Bien sur c'est pour celà que je suis devenu aventurier ! Tuer des dragons, et écouter les bardes compter mes aventures !</p>
                <p>- Si tu as de la chance peut-être nous reverrons nous ! Et le roi t'accordera gloire et richesse !</p>
                <p>&nbsp;&nbsp;Mais pour commencer voici ta première mission, va voir le bourgmester au marcher, il te donnera ta première quête !</p>
                <div class="text-center mt-4">
                    <a 
                        href="{{ path('app_city_show', {city_id: 1}) }}"
                        class="btn btn-success btn-xl"
                    >Allez voir le bourgmestre au marcher</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}